# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [23]:
!pip install pyspark
#!pip install pyarrow

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pyspark) (0.10.9)
WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [28]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql.functions import lower, col
from pprint import pprint
import configparser
from datetime import datetime
import pyarrow.parquet as pq
import re
import os, sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col



import pyspark.sql.functions as F
pd.set_option('display.width',170, 'display.max_rows',200, 'display.max_columns',900)

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
##### The immigration data comes form US National Tourism and Trade Office.

In [51]:
#Data source
air_data = "airport-codes_csv.csv"
city_data="us-cities-demographics.csv"
temp_file="weather/GlobalLandTemperaturesByCity.csv"
sas="I94_SAS_Labels_Descriptions.SAS"

In [30]:
spark = SparkSession.builder \
    .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11") \
    .enableHiveSupport() \
    .getOrCreate()

In [31]:
# Get the imgration data
df_img = pq.ParquetDataset('sas_data').read_pandas().to_pandas(split_blocks=True, self_destruct=True)

In [32]:
# Explor the Data
df_img.head(2)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,37.0,2.0,1.0,None,None,None,T,None,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,25.0,3.0,1.0,20130811,SEO,None,G,None,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1

#### Data Dictionary that we are interesting in:
##### Immigration Data
- cicid - float64 - ID that is unique, identify the dataset
- i94yr - float64 - 4 digit year
- i94cit - float64 - 3 digit code of immigrant born country
- i94res - float64 - 3 digit code of immigrant country of residence
- arrdate - float64 - Arrival date in the USA
- i94port = 3 character code of destination USA city
- i94mode - float64 - Mode of transportation (1 = Air; 2 = Sea; 3 = Land; 9 = Not reported)
- biryear - float64 - 4 digit year of birth
- i94visa - float64 - Visa codes modified into: (B1, E2 = Business; B2 = Pleasure; F1 = Student, WB, WT= Three months visit, others = the rest)
- gender - 
- fltno - object - Flight number of Airline used to arrive in U.S.
- visatype - object - Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [33]:
# select the data and show missing value
new_df_img=df_img[['cicid', 'i94yr', 'i94cit', 'i94port','i94res', 'arrdate', 'i94mode', 'biryear','i94visa', 'gender', 'fltno', 'visatype']] 
(new_df_img.isna().sum() /len(new_df_img)) * 100

cicid        0.000000
i94yr        0.000000
i94cit       0.000000
i94port      0.000000
i94res       0.000000
arrdate      0.000000
i94mode      0.007719
biryear      0.025902
i94visa      0.000000
gender      13.379429
fltno        0.631364
visatype     0.000000
dtype: float64

In [34]:
new_df_img[['i94cit', 'i94port','i94res', 'arrdate', 'i94mode', 'biryear','i94visa', 'gender']].head(2)

   i94cit i94port  i94res  arrdate  i94mode  biryear  i94visa gender
0   692.0     XXX   692.0  20573.0      NaN   1979.0      2.0   None
1   254.0     ATL   276.0  20551.0      1.0   1991.0      3.0      M

In [35]:
# Cleaning: replace visatype values into 4 catogories: (B1, E2 = Business; B2 = Pleasure; F1 = Student, WB, WT= Three months visit, others = the rest)
new_df_img['visatype']= new_df_img['visatype'].replace(['B1', 'E2'], 'Business')
new_df_img['visatype']= new_df_img['visatype'].replace('B2', 'Pleasure')
new_df_img['visatype']= new_df_img['visatype'].replace('F1', 'Student')
new_df_img['visatype']= new_df_img['visatype'].replace(['WB','WT'], '3 Months Visa')
new_df_img['visatype']= new_df_img['visatype'].replace(['WB','WT'], '3 Months Visa')
new_df_img['visatype']= new_df_img['visatype'].replace(['GMT','CP', 'E1','I', 'F2','M1', 'I1', 'GMB', 'M2', 'SBP', 'CPL'], 'Others')

new_df_img.visatype.value_counts()

3 Months Visa    1592042
Pleasure         1117897
Business          231793
Others            115565
Student            39016
Name: visatype, dtype: int64

In [36]:
new_df_img.gender.value_counts()

M    1377224
F    1302743
X       1610
U        467
Name: gender, dtype: int64

In [37]:
new_df_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096313 entries, 0 to 3096312
Data columns (total 12 columns):
 #   Column    Dtype
---  ------    -----
 0   cicid     float64
 1   i94yr     float64
 2   i94cit    float64
 3   i94port   object
 4   i94res    float64
 5   arrdate   float64
 6   i94mode   float64
 7   biryear   float64
 8   i94visa   float64
 9   gender    object
 10  fltno     object
 11  visatype  object
dtypes: float64(8), object(4)
memory usage: 283.5+ MB

In [38]:
# Collect data from SAS file(port_code, port_city, port_state) 
with open(sas) as f:
    lines = f.readlines()    

comments = [line for line in lines if '/*' in line and '*/\n' in line]
regexp = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [regexp.match(c) for c in comments]

for m in matches:
    print(m.group("code"), ":", m.group('description'))

I94YR : 4 digit year
I94MON : Numeric month
I94CIT & I94RES : This format shows all the valid and invalid codes for processing
I94PORT : This format shows all the valid and invalid codes for processing
I94MODE : There are missing values as well as not reported (9)
I94BIR : Age of Respondent in Years
COUNT : Used for summary statistics
DTADFILE : Character Date Field - Date added to I-94 Files - CIC does not use
VISAPOST : Department of State where where Visa was issued - CIC does not use
OCCUP : Occupation that will be performed in U.S. - CIC does not use
ENTDEPA : Arrival Flag - admitted or paroled into the U.S. - CIC does not use
ENTDEPD : Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
ENTDEPU : Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
MATFLAG : Match flag - Match of arrival and departure records
BIRYEAR : 4 digit year of birth
DTADDTO : Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
GENDER : Non-immigrant sex
INSNUM : INS number
AIRLINE : Airline used to arrive in U.S.
ADMNUM : Admission Number
FLTNO : Flight number of Airline used to arrive in U.S.
VISATYPE : Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [46]:
### i94_port_lines = (303, 962)
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
valid_ports = {}
for line in lines[302:961]:
    match = re_obj.search(line)
    valid_ports[match.group(1)]=[match.group(2)]
from pprint import pprint
pprint(valid_ports)

 'BUS': ['Collapsed (BUF) 06/15'],
 'BWA': ['BOUNDARY, WA          '],
 'BWM': ['BRIDGEWATER, ME       '],
 'BYO': ['BAYONNE, NJ           '],
 'BZN': ['GALLATIN FIELD - BOZEMAN, MT'],
 'CAE': ['COLUMBIA, SC #ARPT'],
 'CAK': ['AKRON, OH'],
 'CAL': ['CALEXICO, CA          '],
 'CAN': ['CAPE CANAVERAL, FL    '],
 'CAO': ['CAMPO, CA             '],
 'CAP': ['CAPE VINCENT, NY      '],
 'CAR': ['CARIBOU MUNICIPAL AIRPORT, MN'],
 'CDD': ['CRANE LAKE - ST. LOUIS CNTY, NM'],
 'CHA': ['CHARLOTTE AMALIE, VI  '],
 'CHF': ['CHIEF MT, MT          '],
 'CHI': ['CHICAGO, IL           '],
 'CHL': ['CHARLESTON, SC        '],
 'CHM': ['CHAMPLAIN, NY         '],
 'CHN': ['No PORT Code (CHN)'],
 'CHO': ['ALBEMARLE CHARLOTTESVILLE, VA'],
 'CHR': ['CHRISTIANSTED, VI     '],
 'CHS': ['CHARLESTON, WV        '],
 'CHT': ['CHATEAUGAY, NY        '],
 'CID': ['CEDAR RAPIDS/IOWA CITY, IA'],
 'CIN': ['CINCINNATI, OH        '],
 'CLA': ['CLAYTON, NY           '],
 'CLE': ['CLEVELAND, OH         '],
 'CLG': ['CALGARY, CANADA       '],
 'CLK': ['CLARKSBURG, WV        '],
 'CLM': ['COLUMBUS, OH          '],
 'CLS': ['CALAIS, ME   '],
 'CLT': ['CHARLOTTE, NC         '],
 'CLX': ['No PORT Code (CLX)'],
 'CNA': ['CANAAN, VT            '],
 'CNC': ['CANNON CORNERS, NY'],
 'CND': ['KOGALNICEANU, ROMANIA'],
 'CNH': ['CANNON CORNERS, NY'],
 'CNJ': ['CAMDEN, NJ            '],
 'COB': ['COBURN GORE, ME       '],
 'COL': ['COLUMBUS, NM          '],
 'COO': ['COOS BAY, OR          '],
 'COS': ['COLORADO SPRINGS, CO'],
 'CP ': ['No PORT Code (CP)'],
 'CPX': ['No PORT Code (CPX)'],
 'CRA': ['CRANE LAKE, MN        '],
 'CRB': ['CARIBOU, ME           '],
 'CRL': ['CARLSBAD, NM          '],
 'CRP': ['CORPUS CHRISTI, TX    '],
 'CRQ': ['CARAVELAS, BA #ARPT, BRAZIL'],
 'CRU': ['CRUZ BAY, ST JOHN, VI '],
 'CRY': ['CARBURY, ND           '],
 'CSP': ['CASPER, WY            '],
 'CTB': ['CUT BANK MUNICIPAL, MT'],
 'CUN': ['CANCUN, MEXICO'],
 'CUR': ['CURLEW, WA (BPS)'],
 'CUT': ['CUT BANK, MT          '],
 'CXO': ['No PORT Code (CXO)'],
 'DAA': ['DAVISON AAF - FAIRFAX CNTY, VA'],
 'DAB': ['DAYTONA BEACH INTERNATIONAL, FL'],
 'DAC': ['DALTONS CACHE, AK     '],
 'DAL': ['DALLAS, TX            '],
 'DAY': ['No PORT Code (DAY)'],
 'DEC': ['No PORT Code (DEC)'],
 'DEN': ['DENVER, CO            '],
 'DER': ['DERBY LINE, VT (I-91) '],
 'DET': ['DETROIT, MI           '],
 'DLB': ['DEL BONITA, MT        '],
 'DLR': ['DEL RIO, TX           '],
 'DLV': ['DERBY LINE, VT (RT. 5)'],
 'DNA': ['DONNA, TX'],
 'DNM': ['DEMING, NM (BPS)'],
 'DNS': ['DUNSEITH, ND          '],
 'DOU': ['DOUGLAS, AZ           '],
 'DOV': ['DOVER AFB, DE'],
 'DPA': ['DUPAGE COUNTY, IL'],
 'DRO': ['LA PLATA - DURANGO, CO'],
 'DRV': ['No PORT Code (DRV)'],
 'DSM': ['DES MOINES, IA'],
 'DTH': ['DUTCH HARBOR, AK      '],
 'DUB': ['DUBLIN, IRELAND       '],
 'DUL': ['DULUTH, MN            '],
 'DUR': ['LOUIS BOTHA, SOUTH AFRICA'],
 'DVD': ['DOVER-AFB, DE         '],
 'DVL': ['DANVILLE, WA          '],
 'EDA': ['EDMONTON, CANADA      '],
 'EGE': ['No PORT Code (EGE)'],
 'EGL': ['EAGLE, AK             '],
 'EGP': ['EAGLE PASS, TX        '],
 'ELM': ['REGIONAL ARPT - HORSEHEAD, NY'],
 'ELP': ['EL PASO, TX           '],
 'ELY': ['ELY, MN               '],
 'ENS': ['ENSENADA, PR          '],
 'EPI': ['EASTPORT, ID          '],
 'EPM': ['EASTPORT, ME          '],
 'EPT': ['EASTPORT MUNICIPAL, ME'],
 'ERC': ['EAST RICHFORD, VT     '],
 'ERI': ['ERIE, PA              '],
 'EST': ['EASTCOURT, ME         '],
 'EUR': ['EUREKA, MT (BPS)'],
 'EVE': ['EVERETT, WA           '],
 'EZE': ['BUENOS AIRES, MINISTRO PIST, ARGENTINA'],
 'FAB': ['FABENS, TX            '],
 'FAJ': ['FAJARDO, PR           '],
 'FAL': ['FALCON HEIGHTS, TX    '],
 'FAR': ['FARGO, ND             '],
 'FAY': ['FAYETTEVILLE, NC'],
 'FBA': ['FREEPORT, BAHAMAS      '],
 'FCA': ['GLACIER NATIONAL PARK, MT'],
 'FER': ['FERRY, WA             '],
 'FLX': ['FALLON MUNICIPAL AIRPORT, NV'],
 'FMY': ['FORT MYERS, FL        '],
 'FOK': ['SUFFOLK COUNTY, NY'],
 'FOP': ['MORRIS FIELDS AAF, NC'],
 'FOR': ['FOREST CITY, ME       '],
 'FOU': ['FOUGAMOU #ARPT, GABON'],
 'FPF': ['FORT PIERCE, FL       '],
 'FPR': ['ST LUCIE COUNTY, FL'],
 'FPT': ['FREEPORT, TX          '],
 'FRB': ['FAIRBANKS, AK         '],
 'FRE': ['FRESNO, CA            '],
 'FRG': ['Collapsed (FOK) 06/15'],
 'FRI': ['FRIDAY HARBOR, WA     '],
 'FRK': ['FREDERIKSTED, VI      '],
 'FRN': ['FERNANDINA, FL        '],
 'FRT': ['FORTUNA, ND           '],
 'FSC': ['No PORT Code (FSC)'],
 'FTB': ['No PORT Code (FTB)'],
 'FTC': ['FORT COVINGTON, NY    '],
 'FTF': ['FORT FAIRFIELD, ME    '],
 'FTH': ['FORT HANCOCK, TX      '],
 'FTK': ['FORT KENT, ME         '],
 'FTL': ['FORT LAUDERDALE, FL   '],
 'FWA': ['FRONTIER, WA          '],
 'GAC': ['No PORT Code (GAC)'],
 'GAL': ['GALVESTON, TX         '],
 'GAR': ['GARY, IN              '],
 'GCM': ['GRAND CAYMAN, CAYMAN ISLAND'],
 'GDL': ['GUADALAJARA, MIGUEL HIDAL, MX'],
 'GEO': ['GEORGETOWN, SC        '],
 'GGW': ['GLASGOW, MT           '],
 'GLO': ['GLOUCESTER, MA        '],
 'GMT': ['No PORT Code (GMT)'],
 'GNV': ['J R ALISON MUNI - GAINESVILLE, FL'],
 'GPI': ['No PORT Code (GPI)'],
 'GPM': ['GRAND PORTAGE, MN     '],
 'GPT': ['BILOXI REGIONAL, MS'],
 'GRB': ['GREEN BAY, WI         '],
 'GRE': ['GREAT FALLS, MT       '],
 'GRF': ['GRAND FORKS, ND       '],
 'GRO': ['GROSSE ISLE, MI       '],
 'GRP': ['GRAND RAPIDS, MI'],
 'GRR': ['GREER, SC'],
 'GRT': ['GROTON, CT            '],
 'GRU': ['GUARULHOS INTL, SAO PAULO, BRAZIL'],
 'GSO': ['PIEDMONT TRIAD INTL AIRPORT, NC'],
 'GSP': ['GREENVILLE, SC'],
 'GTF': ['Collapsed into INT, MN'],
 'GTR': ['GOLDEN TRIANGLE LOWNDES CNTY, MS'],
 'GUL': ['GULFPORT, MS          '],
 'HAL': ['Halifax, NS, Canada   '],
 'HAM': ['HAMILTON, BERMUDA     '],
 'HAR': ['HARTFORD, CT          '],
 'HEF': ['MANASSAS, VA #ARPT'],
 'HEL': ['HELENA, MT            '],
 'HHW': ['HONOLULU, HI          '],
 'HID': ['HIDALGO, TX           '],
 'HIG': ['HIGHGATE SPRINGS, VT  '],
 'HIL': ['SHILLAVO, ETHIOPIA'],
 'HIO': ['HILLSBORO, OR'],
 'HLG': ['HARLINGEN, TX         '],
 'HML': ['HAMIIN, ME            '],
 'HMM': ['HAMMOND, IN           '],
 'HMO': ['GEN PESQUEIRA GARCIA, MX'],
 'HNN': ['HANNAH, ND            '],
 'HNS': ['HANSBORO, ND          '],
 'HOB': ['HOBOKEN, NJ           '],
 'HOM': ['HOMER, AK             '],
 'HON': ['HOWES REGIONAL ARPT - HURON, SD'],
 'HOP': ['HOPEWELL, VA          '],
 'HOU': ['HOUSTON, TX           '],
 'HPN': ['WESTCHESTER - WHITE PLAINS, NY'],
 'HRL': ['Collapsed (HLG) 06/15'],
 'HSB': ['HARRISONBURG, PA      '],
 'HSV': ['MADISON COUNTY - HUNTSVILLE, AL'],
 'HTM': ['HOULTON, ME           '],
 'HUM': ['HUMACAO, PR           '],
 'HUR': ['HURLBURT FIELD, FL'],
 'HVR': ['HAVRE, MT             '],
 'HYD': ['HYDER, AK             '],
 'IAG': ['Collapsed (NIA) 06/15'],
 'ICN': ['INCHON, SEOUL KOREA'],
 'ICP': ['IMPERIAL COUNTY, CA   '],
 'ICT': ['MID-CONTINENT - WITCHITA, KS'],
 'IDA': ['FANNING FIELD - IDAHO FALLS, ID'],
 'IND': ['LOS INDIOS, TX'],
 'INL': ['Collapsed into INT, MN'],
 'INP': ['INDIANAPOLIS, IN      '],
 "INT'\t=\t'INT": ['L FALLS, MN      '],
 'ISB': ['PORT ISABEL, TX       '],
 'ISL': ['ISLE ROYALE, MI       '],
 'ISP': ['Collapsed (FOK) 06/15'],
 'IWA': ['INVALID - IWAKUNI, JAPAN'],
 'JAC': ['JACKSONVILLE, FL      '],
 'JAN': ['THOMPSON FIELD - JACKSON, MS'],
 'JBQ': ['No PORT Code (JBQ)'],
 'JCP': ['CULEBRA - BENJAMIN RIVERA, PR'],
 'JER': ['JERSEY CITY, NJ       '],
 'JFA': ['No PORT Code (JFA)'],
 'JIG': ['No PORT Code (JIG)'],
 'JKM': ['JACKMAN, ME           '],
 'JMZ': ['No PORT Code (JMZ)'],
 'JOB': ['JOBOS, PR             '],
 'JSJ': ['Collapsed (SAJ) 06/15'],
 'JUN': ['JUNEAU, AK            '],
 'KAL': ['KALISPEL, MT          '],
 'KAN': ['KANSAS CITY, MO       '],
 'KET': ['KETCHIKAN, AK         '],
 'KEY': ['KEY WEST, FL          '],
 'KLM': ['KALAMA, WA            '],
 'KOA': ['KEAHOLE-KONA, HI      '],
 'LAG': ['LA GUARDIA, NY        '],
 'LAH': ['LABUHA ARPT, INDONESIA'],
 'LAK': ['LAKE CHARLES, LA (BPS)'],
 'LAN': ['LANCASTER, MN         '],
 'LAR': ['LAREDO, TX            '],
 'LAS': ['LAS CRUCES, NM        '],
 'LAU': ['LAURIER, WA           '],
 'LCB': ['LAREDO COLUMBIA BRIDGE, TX'],
 'LEB': ['LEBANON, NH           '],
 'LEE': ['LEESBURG MUNICIPAL AIRPORT, FL'],
 'LEW': ['LEWISTON, NY          '],
 'LEX': ['BLUE GRASS - LEXINGTON, KY'],
 'LGU': ['CACHE AIRPORT - LOGAN, UT'],
 'LGW': ['WEST SUSSEX, ENGLAND  '],
 'LHR': ['MIDDLESEX, ENGLAND'],
 'LIA': ['LITTLE ROCK, AR (BPS)'],
 'LIH': ['LIHUE, HI             '],
 'LIM': ['LIMESTONE, ME         '],
 'LIN': ['NORTHERN SVC CENTER, MN   '],
 'LIT': ['No PORT Code (LIT)'],
 'LKC': ['LAKE CHARLES, LA      '],
 'LLB': ['JUAREZ-LINCOLN BRIDGE, TX'],
 'LNB': ['LONG BEACH, CA         '],
 'LND': ['LANDER, WY'],
 'LOB': ['LORDSBURG, NM (BPS)'],
 'LOI': ['LOS INDIOS, TX        '],
 'LON': ['LONGVIEW, WA          '],
 'LOR': ['LORAIN, OH            '],
 'LOS': ['LOS ANGELES, CA       '],
 'LOU': ['LOUISVILLE, KY        '],
 'LRN': ['LAREDO NORTH, TX      '],
 'LSE': ['LOS EBANOS, TX        '],
 'LUB': ['LUBEC, ME             '],
 'LUK': ['LUKEVILLE, AZ         '],
 'LVG': ['LAS VEGAS, NV         '],
 'LWT': ['LEWISTON, MT          '],
 'LYN': ['LYNDEN, WA            '],
 'MAA': ['Abu Dhabi'],
 'MAD': ['MADAWASKA, ME         '],
 'MAF': ['ODESSA REGIONAL, TX'],
 'MAG': ['MCGUIRE AFB, NY       '],
 'MAI': ['MAIDA, ND             '],
 'MAL': ['MANGOLE ARPT, INDONESIA'],
 'MAP': ['MARIPOSA AZ           '],
 'MAR': ['MARFA, TX'],
 'MAS': ['MASSENA, NY           '],
 'MAY': ['MAYAGUEZ, PR          '],
 'MBO': ['MARBLE HEADS, OH      '],
 'MCA': ['MCALLEN, TX           '],
 'MDE': ['MEDELLIN, COLOMBIA'],
 'MDT': ['HARRISBURG, PA'],
 'MED': ['MEDFORD, OR           '],
 'MEM': ['MEMPHIS, TN           '],
 'MET': ['METALINE FALLS, WA    '],
 'MEX': ['JUAREZ INTL, MEXICO CITY, MX'],
 'MGC': ['MORGAN CITY, LA       '],
 'MGM': ['MORGAN, MT            '],
 'MHT': ['MANCHESTER, NH'],
 'MIA': ['MIAMI, FL             '],
 'MIC': ['CRYSTAL MUNICIPAL AIRPORT, MN'],
 'MIL': ['MILWAUKEE, WI         '],
 'MKG': ['MUSKEGON, MD'],
 'MLB': ['MELBOURNE, FL'],
 'MLI': ['MOLINE, IL'],
 'MLU': ['MONROE, LA'],
 'MMU': ['MORRISTOWN, NJ'],
 'MND': ['MINOT, ND             '],
 'MNW': ['MANITOWOC, WI         '],
 'MOB': ['MOBILE, AL            '],
 'MON': ['MONTREAL, CANADA      '],
 'MOO': ['MOORES, NY            '],
 'MOR': ['MORSES LINE, VT       '],
 'MOS': ['MOSES POINT INTERMEDIATE, AK'],
 'MRC': ['MARINE CITY, MI       '],
 'MRH': ['MOREHEAD CITY, NC     '],
 'MRL': ['MERRILLVILLE, IN      '],
 'MRR': ['MORRISTOWN, NY        '],
 'MRS': ['MARFA, TX (BPS)'],
 'MRY': ['MARYSVILLE, MI        '],
 'MSN': ['TRUAX FIELD - DANE COUNTY, WI'],
 'MSP': ['MINN./ST PAUL, MN     '],
 'MTH': ['No PORT Code (MTH)'],
 'MTY': ['GEN M. ESCOBEDO, Monterrey, MX'],
 'MVD': ['CARRASCO, URUGUAY'],
 'MWH': ['MOSES LAKE GRANT COUNTY ARPT, WA'],
 'MYR': ['MYRTLE BEACH, SC'],
 'NAC': ['NACO, AZ              '],
 'NAS': ['NASSAU, BAHAMAS       '],
 'NBO': ['NAIROBI, KENYA        '],
 'NC8': ['No PORT Code (NC8)'],
 'NCA': ['NORTH CAICOS, TURK & CAIMAN'],
 'NEA': ['NEAH BAY, WA          '],
 'NEC': ['NECHE, ND             '],
 'NEW': ['NEWARK/TETERBORO, NJ  '],
 'NGL': ['No PORT Code (NGL)'],
 'NIA': ['NIAGARA FALLS, NY     '],
 'NIG': ['NIGHTHAWK, WA         '],
 'NIK': ['NIKISKI, AK           '],
 'NK': ['No PORT Code (NK)'],
 'NOG': ['NOGALES, AZ           '],
 'NOL': ['NEW ORLEANS, LA       '],
 'NOM': ['NOM, AK               '],
 'NOO': ['NOONAN, ND            '],
 'NOR': ['NORFOLK, VA           '],
 'NOY': ['NOYES, MN             '],
 'NPT': ['NEWPORT, OR           '],
 'NPV': ['NEWPORT, VT           '],
 'NRG': ['NORTHGATE, ND         '],
 'NRN': ['NORTON, VT            '],
 'NRT': ['NORTH TROY, VT        '],
 'NSV': ['NASHVILLE, TN         '],
 'NWH': ['NEW HAVEN, CT         '],
 'NWL': ['NEW LONDON, CT        '],
 'NWN': ['NEWPORT, VA           '],
 'NYC': ['NEW YORK, NY          '],
 'NYL': ['No PORT Code (NYL)'],
 'OAI': ['No PORT Code (OAI)'],
 'OAK': ['OAKLAND, CA '],
 'OGD': ['OGDENSBURG, NY        '],
 'OGG': ['KAHULUI - MAUI, HI'],
 'OGS': ['No PORT Code (OGS)'],
 'OKC': ['OKLAHOMA CITY, OK     '],
 'OLM': ['No PORT Code (OLM)'],
 'OLY': ['OLYMPIA, WA           '],
 'OMA': ['OMAHA, NE             '],
 'ONT': ['ONTARIO, CA'],
 'OPF': ['OPA LOCKA, FL'],
 'OPH': ['OPHEIM, MT            '],
 'ORI': ['PORT LIONS SPB, AK'],
 'ORL': ['ORLANDO, FL           '],
 'ORO': ['OROVILLE, WA          '],
 'OSW': ['OSWEGO, NY            '],
 'OTM': ['OTAY MESA, CA          '],
 'OTS': ['No PORT Code (OTS)'],
 'OTT': ['OTTAWA, CANADA        '],
 'PAN': ['PANAMA CITY, FL       '],
 'PAR': ['PORT ARTHUR, TX       '],
 'PAS': ['PASCAGOULA, MS        '],
 'PAX': ['PATUXENT RIVER, MD    '],
 'PBB': ['PEACE BRIDGE, NY      '],
 'PCF': ['PORT CANAVERAL, FL    '],
 'PCW': ['No PORT Code (PCW)'],
 'PDN': ['PASO DEL NORTE,TX     '],
 'PEK': ['BEIJING CAPITAL INTL, PRC'],
 'PEM': ['PEMBINA, ND           '],
 'PEN': ['PENSACOLA, FL         '],
 'PER': ['PERTH AMBOY, NJ       '],
 'PEV': ['PORT EVERGLADES, FL   '],
 'PFN': ['No PORT Code (PFN)'],
 'PGR': ['PROGRESO, TX          '],
 'PHF': ['No PORT Code (PHF)'],
 'PHI': ['PHILADELPHIA, PA      '],
 'PHN': ['Collapsed (PHU) 06/15'],
 'PHO': ['PHOENIX, AZ           '],
 'PHR': ['PHARR, TX             '],
 'PHU': ['PORT HURON, MI        '],
 'PIA': ['GREATER PEORIA, IL'],
 'PIE': ['PIEGAN, MT            '],
 'PIN': ['PINE CREEK, MN        '],
 'PIR': ['POINT ROBERTS, WA     '],
 'PIT': ['PITTSBURG, PA         '],
 'PIV': ['PINNACLE ROAD, VT     '],
 'PIZ': ['DEW STATION PT LAY DEW, AK'],
 'PKC': ['POKER CREEK, AK       '],
 'PLB': ['No PORT Code (PLB)'],
 'PNG': ['PORT ANGELES, WA      '],
 'PNH': ['PITTSBURG, NH         '],
 'POE': ['PORT OF EL PASO, TX   '],
 'POM': ['PORTLAND, ME          '],
 'PON': ['PONCE, PR             '],
 'POO': ['PORTLAND, OR          '],
 'POR': ['PORTAL, AZ'],
 'PRE': ['PRESIDIO, TX          '],
 'PRO': ['PROVIDENCE, RI        '],
 'PSC': ['TRI-CITIES - PASCO, WA'],
 'PSE': ['PONCE-MERCEDITA, PR'],
 'PSJ': ['PORT ST JOE, FL       '],
 'PSM': ['PORTSMOUTH, NH        '],
 'PSP': ['PALM SPRINGS, CA'],
 'PTK': ['OAKLAND COUNTY - PONTIAC, MI'],
 'PTL': ['PORTHILL, ID          '],
 'PTO': ['PORT TOWNSEND, WA     '],
 'PTY': ['OMAR TORRIJOS, PANAMA'],
 'PUT': ['PUT-IN-BAY, OH        '],
 'PVD': ['THEODORE FRANCIS - WARWICK, RI'],
 'PWB': ['PASCO, WA             '],
 'RAN': ['RAINER, MN            '],
 'RAY': ['RAYMOND, MT           '],
 'RBT': ['ROBERTS LANDING, MI   '],
 'RCM': ['RICHMOND, VA          '],
 'RDM': ['ROBERTS FIELDS - REDMOND, OR'],
 'RDU': ['RALEIGH/DURHAM, NC    '],
 'REN': ['RENO, NV              '],
 'RFD': ['GREATER ROCKFORD, IL'],
 'RGM': ['RANGELEY, ME (BPS)'],
 'RIF': ['RICHFORT, VT          '],
 'RIO': ['RIO GRANDE CITY, TX   '],
 'RIT': ['ROME, ITALY           '],
 'RIV': ['RIVERSIDE, CA'],
 'RME': ['ROME, NY'],
 'RNO': ['CANNON INTL - RENO/TAHOE, NV'],
 'ROC': ['ROCHESTER, NY         '],
 'ROG': ['ROGERS ARPT, AR'],
 'ROM': ['ROMA, TX              '],
 'ROO': ['ROOSVILLE, MT         '],
 'ROS': ['ROSEAU, MN            '],
 'ROU': ['ROUSES POINT, NY      '],
 'RST': ['ROCHESTER, MN'],
 'RUI': ['RUIDOSO, NM'],
 'RYY': ['No PORT Code (RYY)'],
 'SAA': ['SANTA ANA, CA         '],
 'SAC': ['SACRAMENTO, CA        '],
 'SAG': ['SAGINAW, MI           '],
 'SAI': ['SAIPAN, SPN           '],
 'SAJ': ['SAN JUAN, PR          '],
 'SAN': ['SAN SALVADOR, EL SALVADOR'],
 'SAR': ['SARLES, ND            '],
 'SAS': ['SASABE, AZ            '],
 'SAU': ['ST AUGUSTINE, FL      '],
 'SAV': ['SAVANNAH, GA          '],
 'SBN': ['SOUTH BEND, IN'],
 'SBR': ['SOUTH BREWER, ME      '],
 'SCC': ['BP SPEC COORD. CTR, TX'],
 'SCH': ['No PORT Code (SCH)'],
 'SCL': ['ST CLAIR, MI          '],
 'SCO': ['SCOBEY, MT            '],
 'SDP': ['SAN DIEGO, CA'],
 'SDY': ['SANDUSKY, OH          '],
 'SEA': ['SEATTLE, WA           '],
 'SFB': ['SANFORD, FL           '],
 'SFR': ['SAN FRANCISCO, CA     '],
 'SGF': ['SPRINGFIELD-BRANSON, MO'],
 'SGJ': ['ST AUGUSTINE ARPT, FL'],
 'SGR': ['HULL FIELD, SUGAR LAND ARPT, TX'],
 'SHA': ['SHANNON, IRELAND      '],
 'SHR': ['SHERWOOD, ND          '],
 'SJO': ['ST JOHN, ND           '],
 'SKA': ['SKAGWAY, AK           '],
 'SLC': ['SALT LAKE CITY, UT    '],
 'SLI': ['SAN LUIS OBISPO, CA (BPS)'],
 'SLO': ['SAN LUIS OBISPO, CA   '],
 'SLP': ['SAN LUIS POTOSI #ARPT, MEXICO'],
 'SLS': ['SALINAS, CA (BPS)'],
 'SLU': ['SAN LUIS, AZ          '],
 'SNA': ['SAN ANTONIO, TX       '],
 'SNJ': ['SAN JOSE, CA          '],
 'SNN': ['SANDERSON, TX         '],
 'SNO': ['SAKON NAKHON #ARPT, THAILAND'],
 'SNP': ['ST. PAUL ISLAND, AK'],
 'SP0': ['No PORT Code (SP0)'],
 'SPA': ['ST PAMPILE, ME        '],
 'SPC': ['SAN PEDRO, CA         '],
 'SPE': ['ST PETERSBURG, FL     '],
 'SPF': ['BLACK HILLS, SPEARFISH, SD'],
 'SPI': ['CAPITAL - SPRINGFIELD, IL'],
 'SPM': ['ST PAUL, MN           '],
 'SPO': ['SPOKANE, WA           '],
 'SPV': ['PAPUA, NEW GUINEA'],
 'SRL': ['ST AURELIE, ME        '],
 'SRO': ['SANTANA RAMOS #ARPT, COLOMBIA'],
 'SRQ': ['BRADENTON - SARASOTA, FL'],
 'SSC': ['SHAW AFB - SUMTER, NC'],
 'SSM': ['SAULT STE. MARIE, MI  '],
 'STA': ['ST ALBANS, VT         '],
 'STL': ['ST LOUIS, MO          '],
 'STN': ['Collapsed (STR) 06/15'],
 'STO': ['STOCKTON, CA (BPS)'],
 'STR': ['SANTA TERESA, NM      '],
 'STT': ['ST THOMAS, VI         '],
 'SUM': ['SUMAS, WA             '],
 'SUS': ['No PORT Code (SUS)'],
 'SVC': ['GRANT COUNTY - SILVER CITY, MN'],
 'SWB': ['SWANTON, VT (BP - SECTOR HQ)'],
 'SWE': ['SWEETGTASS, MT        '],
 'SWF': ['STEWART - ORANGE CNTY, NY'],
 'SYR': ['SYRACUSE, NY          '],
 'SYS': ['SAN YSIDRO, CA        '],
 'T01': ['Collapsed (SEA) 06/15'],
 'TAC': ['TACOMA, WA            '],
 'TAM': ['TAMPA, FL             '],
 'TEC': ['TECATE, CA            '],
 'THO': ['THOUSAND ISLAND BRIDGE, NY'],
 'TIW': ['No PORT Code (TIW)'],
 'TKI': ['TOKEEN, AK'],
 'TOK': ['TOROKINA #ARPT, PAPUA, NEW GUINEA'],
 'TOL': ['TOLEDO, OH            '],
 'TOR': ['TORONTO, CANADA       '],
 'TRI': ['TRI CITY ARPT, TN'],
 'TRL': ['TRIAL CREEK, MT       '],
 'TRO': ['TROUT RIVER, NY       '],
 'TRV': ['TRAVIS-AFB, CA        '],
 'TST': ['NEWINGTON DATA CENTER TEST, CT'],
 'TUC': ['TUCSON, AZ            '],
 'TUL': ['TULSA, OK'],
 'TUR': ['TURNER, MT            '],
 'TYS': ['MC GHEE TYSON - ALCOA, TN'],
 'UGN': ['MEMORIAL - WAUKEGAN, IL'],
 'UIO': ['QUITO (MARISCAL SUCR), ECUADOR'],
 'UNK': ['UNKNOWN POE           '],
 'VAN': ['VANCOUVER, WA         '],
 'VCB': ['VANCEBORO, ME         '],
 'VCV': ['VANCOUVER, CANADA     '],
 'VER': ['VERACRUZ, MEXICO'],
 'VIB': ['VETERAN INTL BRIDGE, TX'],
 'VIC': ['VICTORIA, CANADA      '],
 'VMB': ['Collapsed (VNB) 06/15'],
 'VNB': ['VAN BUREN, ME         '],
 'VNY': ['VAN NUYS, CA'],
 'VQS': ['VIEQUES-ARPT, PR'],
 'W55': ['No PORT Code (W55)'],
 'WA5': ['No PORT Code (WAS)'],
 'WAL': ['WALHALLA, ND          '],
 'WAR': ['WARROAD, MN           '],
 'WAS': ['WASHINGTON DC         '],
 'WAT': ['WATERTOWN, NY         '],
 'WBE': ['WEST BERKSHIRE, VT    '],
 'WCM': ['WILLOW CREEK, MT      '],
 'WHI': ['WHITETAIL, MT         '],
 'WHM': ['WILD HORSE, MT        '],
 'WHO': ['WESTHOPE, ND          '],
 'WIL': ['WILMINGTON, NC        '],
 'WIN': ['WINNIPEG, CANADA      '],
 'WLL': ['WILMINGTON, DE        '],
 'WND': ['WILLISTON, ND         '],
 'WPB': ['WEST PALM BEACH, FL   '],
 'WRA': ['WRANGELL, AK          '],
 'WRB': ['WHIRLPOOL BRIDGE, NY'],
 'WRI': ['MC GUIRE AFB - WRIGHTSOWN, NJ'],
 'WSB': ['WARROAD INTL, SPB, MN'],
 'WTR': ['No PORT Code (WTR)'],
 'X44': ['No PORT Code (X44)'],
 'X96': ['No PORT Code (X96)'],
 'XNA': ['No PORT Code (XNA)'],
 'XXX': ['NOT REPORTED/UNKNOWN  '],
 'Y62': ['No PORT Code (Y62)'],
 'YGF': ['No PORT Code (YGF)'],
 'YHC': ['HAKAI PASS, CANADA'],
 'YIP': ['WILLOW RUN - YPSILANTI, MI'],
 'YOU': ['YOUNGSTOWN, NY        '],
 'YSL': ['YSLETA, TX            '],
 'YUI': ['YUMA, AZ              '],
 'YUM': ['YUMA, AZ'],
 'YXE': ['SASKATOON, CANADA'],
 'ZZZ': ['MEXICO Land (Banco de Mexico) ']}

In [39]:
# Get port locations from SAS text file
with open("./I94_SAS_Labels_Descriptions.SAS") as f:
    content = f.readlines()
content = [x.strip() for x in content]
ports = content[302:962]
splitted_ports = [port.split("=") for port in ports]
port_codes = [x[0].replace("'","").strip() for x in splitted_ports]
port_locations = [x[1].replace("'","").strip() for x in splitted_ports]
port_cities = [x.split(",")[0] for x in port_locations]
port_states = [x.split(",")[-1] for x in port_locations]
df_port_locations = pd.DataFrame({"port_code" : port_codes, "port_city": port_cities, "port_state": port_states})
df_port_locations.head(5)

  port_code                 port_city port_state
0       ALC                     ALCAN         AK
1       ANC                 ANCHORAGE         AK
2       BAR  BAKER AAF - BAKER ISLAND         AK
3       DAC             DALTONS CACHE         AK
4       PIZ    DEW STATION PT LAY DEW         AK

In [40]:
#read weather file
temp_df=pd.read_csv(temp_file)
temp_df.tail(1)
temp_df['City'].value_counts()

Springfield     9545
Worcester       8359
León            7469
Rongcheng       6526
Manchester      6478
                ...
Machala         1591
Trujillo        1584
Chimbote        1584
Chiclayo        1584
Port Moresby    1581
Name: City, Length: 3448, dtype: int64

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [41]:
# Performing cleaning tasks here
df1 = spark.createDataFrame(new_df_img)

In [44]:
def clean_data(df):  
     temp = df1.filter(df1.i94port.isin(list(valid_ports.keys())))
     return temp

In [75]:
img_df=clean_data(df1)

In [37]:
img_df.show()

+-----+------+------+-------+------+-------+-------+-------+-------+------+-----+--------+
|cicid| i94yr|i94cit|i94port|i94res|arrdate|i94mode|biryear|i94visa|gender|fltno|visatype|
+-----+------+------+-------+------+-------+-------+-------+-------+------+-----+--------+
|  6.0|2016.0| 692.0|    XXX| 692.0|20573.0|    NaN| 1979.0|    2.0|  null| null|Pleasure|
|  7.0|2016.0| 254.0|    ATL| 276.0|20551.0|    1.0| 1991.0|    3.0|     M|00296| Student|
| 15.0|2016.0| 101.0|    WAS| 101.0|20545.0|    1.0| 1961.0|    2.0|     M|   93|Pleasure|
| 16.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1988.0|    2.0|  null|00199|Pleasure|
| 17.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 2012.0|    2.0|  null|00199|Pleasure|
| 18.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1959.0|    1.0|  null|00602|Business|
| 19.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1953.0|    2.0|  null|00602|Pleasure|
| 20.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1959.0|    2.0|  null|00602|Pleasure|
| 21.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1970.0|    2.0|  null|00602|Pleasure|
| 22.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1968.0|    1.0|  null|00608|Business|
| 23.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1964.0|    2.0|  null|00001|Pleasure|
| 24.0|2016.0| 101.0|    TOR| 101.0|20545.0|    1.0| 1983.0|    2.0|  null|03348|Pleasure|
| 27.0|2016.0| 101.0|    BOS| 101.0|20545.0|    1.0| 1958.0|    1.0|     M|00422|Business|
| 28.0|2016.0| 101.0|    ATL| 101.0|20545.0|    1.0| 1960.0|    1.0|     F|00422|Business|
| 29.0|2016.0| 101.0|    ATL| 101.0|20545.0|    1.0| 1954.0|    2.0|     M|00614|Pleasure|
| 30.0|2016.0| 101.0|    ATL| 101.0|20545.0|    1.0| 1967.0|    2.0|     M|00089|Pleasure|
| 31.0|2016.0| 101.0|    ATL| 101.0|20545.0|    1.0| 1973.0|    2.0|     M|00089|Pleasure|
| 33.0|2016.0| 101.0|    HOU| 101.0|20545.0|    1.0| 1963.0|    2.0|     F|00033|Pleasure|
| 34.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1968.0|    2.0|     M|00602|Pleasure|
| 35.0|2016.0| 101.0|    NYC| 101.0|20545.0|    1.0| 1942.0|    2.0|     F|    1|Pleasure|
+-----+------+------+-------+------+-------+-------+-------+-------+------+-----+--------+
only showing top 20 rows

In [57]:
df_temp = spark.read.format("csv").option("header", "true").load(temp_file)

In [53]:
# Create dictionary of valid i94port codes
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
i94port_valid = {}
with open('i94port_valid.txt') as f:
     for line in f:
         match = re_obj.search(line)
         i94port_valid[match[1]]=[match[2]]

In [73]:
@udf()
def get_i94port(city):    
    for key in i94port_valid:
        if city.lower() in i94port_valid[key][0].lower():
            return key

In [61]:
# Cleaning data

def clean_data(temp_df):
    temp_df = temp_df.filter(temp_df.AverageTemperature != 'NaN')
    temp_df = temp_df.dropDuplicates(['City', 'Country'])
    temp_df = temp_df.withColumn("i94port", get_i94port(temp_df.City))
    return temp_df.filter(temp_df.i94port != 'null')

In [62]:
temp_df = clean_data(df_temp)

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [74]:
# ## Conceptual Data Model
# #### imigration dim:
img_df.write.mode("append").partitionBy("i94port").parquet("/results/immigration.parquet")

In [ ]:
#dim_temperature
temp_df.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

In [ ]:
# Create temporary views of the immigration and temperature data
img_df.createOrReplaceTempView("new_df_img")
temp_df.createOrReplaceTempView("temp_view")

In [ ]:
# Create the fact table by joining the immigration and temperature views
fact_table = spark.sql('''
SELECT new_df_img.i94yr as year,
       new_df_img.i94mon as month,
       new_df_img.i94cit as city,
       new_df_img.i94port as i94port,
       new_df_img.arrdate as arrival_date,
       new_df_img.depdate as departure_date,
       new_df_img.i94visa as reason,
       df_temp.AverageTemperature as temperature,
       df_temp.Latitude as latitude,
       df_temp.Longitude as longitude
FROM new_df_img
JOIN df_temp ON (new_df_img.i94port = df_temp.i94port)
''')

In [ ]:
# Write fact table to parquet files partitioned by i94port
fact_table.write.mode("append").partitionBy("i94port").parquet("/results/fact.parquet")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here
def quality_check(df, description):
    result = df.count()
    
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

In [ ]:
# Perform data quality check
quality_check(img_df, "immigration table")
quality_check(temp_df, "temperature table")